a,
a:active,
a:hover,
a:link {
  color: #4d90fe;
  text-decoration: none;
}

body {
  color: #333;
  font-family: Futura, Arial, sans-serif;
  margin: 0;
}

#error {
  display: none;
}

.btn {
  background-color: #4d90fe;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  height: 34.5px;
  vertical-align: bottom;
}

.center-form {
  width: 420px;
}

.content {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.help {
  font-size: 10px;
  opacity: 0;
  transition: 300ms opacity ease;
}

.help-button:hover + .help,
.help-button:focus + .help {
  cursor: default;
  opacity: 1;
}

.help-button {
  background-color: #aaa;
  border: 2px solid #aaa;
  border-radius: 30px;
  color: #fff;
  cursor: default;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.info {
  display: none;
}

.label {
  font-size: 16px;
}

.group-div {
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  flex-basis: 100%;
  min-height: 50px;
  padding: 20px;
}

.group-div:nth-of-type(2n) {
  border-bottom-color: #e5e5e5;
  border-top-color: #e5e5e5;
}

.group-img {
  margin: 0 20px 0 0;
  transition: 500ms width ease;
  width: 150px;
}

.group-list {
  display: none;
  flex-basis: 100%;
  transition: 500ms flex-basis ease, 500ms margin ease;
  margin: 5px;
}

.group-list.messages-active {
  flex-basis: 20%;
  margin: 0 40px 0 0;
}

.group-list.messages-active .group-div .group-img {
  width: 50px;
}

.group-list.messages-active .group-div .group-name {
  font-size: 16px;
}

.group-name {
  font-size: 24px;
  font-weight: bold;
  transition: 500ms font-size ease;
}

.message-list {
  flex-basis: 0;
  transition: 500ms flex-basis ease;
}

.message-list.messages-active {
  flex-basis: 80%;
}

.msg {
  margin: 30px 0;
}

.msg-author {
  display: flex;
  flex-direction: column;
}

.msg-avatar {
  margin: 0 15px 0 0;
  width: 50px;
}

.msg-img {
  max-width: 500px;
}

.msg-info {
  align-items: center;
  display: flex;
  min-height: 50px;
}

.msg-name {
  flex-basis: 60%;
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px 0 0;
}

.msg-system {
  font-style: italic;
}

.msg-time {
  font-size: 10px;
}

.msg-txt {
  margin: 10px 0 0;
}

.text-input {
  border: 1px solid #aaa;
  border-radius: 3px;
  font-size: 20px;
  padding: 5px;
  width: 365px;
}